API_PORT=
API_VERSION=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_NAME=
DB_SSLMODE=

SECRET_KEY=

MAX_CONNECTIONS=
MAX_IDLE_CONNECTIONS=
CONNECTION_MAX_LIFETIME_MINUTES=

TOKEN_EXPIRATION_MINUTES=
REFRESH_TOKEN_EXPIRATION_MINUTES=

RATE_LIMIT_RPS=
RATE_LIMIT_BURST=
RATE_LIMIT_EXPIRES_MINUTES=
